<h1>NFL Statistics</h1>

<%= form_tag(nfl_index_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Players" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<br>
<%= button_to "Export as CSV",  nfl_index_path(format: "csv"), method: :get %>
<br>

<table>
  <thead>
    <tr>
      <th><%= sort_link "player", "Player", @search_query %></th>
      <th><%= sort_link "team", "Team", @search_query  %></th>
      <th><%= sort_link "position", "Position", @search_query  %></th>
      <th><%= sort_link "avg_attempts_per_game", "Att/G", @search_query  %></th>
      <th><%= sort_link "total_attempts", "Att", @search_query  %></th>
      <th><%= sort_link "total_yards", "Yrds", @search_query  %></th>
      <th><%= sort_link "average_yards_per_attempt", "Avg", @search_query  %></th>
      <th><%= sort_link "yards_per_game", "Yrds/G", @search_query  %></th>
      <th><%= sort_link "total_touchdowns", "TD", @search_query  %></th>
      <th><%= sort_link "longest_rush", "Lng", @search_query  %></th>
      <th><%= sort_link "first_downs", "1st", @search_query  %></th>
      <th><%= sort_link "first_down_percentage", "1st%", @search_query  %></th>
      <th><%= sort_link "twenty_yards_plus_each", "20+", @search_query  %></th>
      <th><%= sort_link "forty_yards_plus_each", "40+", @search_query  %></th>
      <th><%= sort_link "fumbles", "FUM", @search_query  %></th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |p| %>
      <tr>
        <td><%= p.player %></td>
        <td><%= p.team %></td>
        <td><%= p.position %></td>
        <td><%= p.avg_attempts_per_game %></td>
        <td><%= p.total_attempts %></td>
        <td><%= p.total_yards %></td>
        <td><%= p.average_yards_per_attempt %></td>
        <td><%= p.yards_per_game %></td>
        <td><%= p.total_touchdowns %></td>
        <td><%= p.longest_rush %></td>
        <td><%= p.first_downs %></td>
        <td><%= p.first_down_percentage %></td>
        <td><%= p.twenty_yards_plus_each %></td>
        <td><%= p.forty_yards_plus_each %></td>
        <td><%= p.fumbles %></td>
      </tr>
    <% end %>
  </tbody>
</table>
